body {
  background-color: #c8b7a6;
  min-height: 100vh;
  color: #663C00;
}

a, a:hover,a:visited, a:focus {
  text-decoration:none;
  color: #663C00;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
}

.landing-page-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.account-message{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.register-form, .login-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.create-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-control {
  width: 250px;
  height: auto;
  padding: 0;
  border: 2px solid #663C00;
  border-radius: 7px;
}

#card-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20%;
}

#card1 {
  margin-bottom: 50px;
  background-color: #9b7b5d74;
  width: 45%;
  align-self: center;
  text-align: center;
}