{% extends "base.html" %}
{% block content %}

<div class="account-message">
  <h1>Welcome to your account</h1>
  <p>You can change your password or username</p>
</div>

<form method="POST" action="" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <div class="login-form">
    {{form.username.label(class='form-group')}} 
    {{form.username(class='form-control')}}
    {{form.email.label(class='form-group')}} 
    {{form.email(class='form-control')}} <br>
    {{form.submit(class='submit')}}
  </div>
</form>

{% endblock %}