{% extends "base.html" %}
{% block content %}

<form method="POST">
  {{form.hidden_tag()}}
  <div class="create-form">
    {{form.title.label}}
    {{form.title(class="form-control")}}<br>

    {{form.notes.label}}
    {{form.notes(class="form-control")}}<br>

    {{form.breakfast.label}}
    {{form.breakfast(class="form-control")}}<br>

    {{form.breakfast_calories.label}}
    {{form.breakfast_calories(class="form-control")}}<br>

    {{form.lunch.label}}
    {{form.lunch(class="form-control")}}<br>

    {{form.lunch_calories.label}}
    {{form.lunch_calories(class="form-control")}}<br>

    {{form.dinner.label}}
    {{form.dinner(class="form-control")}}<br>

    {{form.dinner_calories.label}}
    {{form.dinner_calories(class="form-control")}}<br>
    
    <br>
    {{form.submit(class="submit")}}
  </div>
</form>
{% endblock %}