{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ daily_calorie.title }}</h1>
  <p>{{daily_calorie.notes}}</p>
  <p>{{daily_calorie.dinner}}</p>
  {% if daily_calorie.author == current_user %}
    <div>
      <a class="btn btn-secondary" href="{{ url_for('daily_calories.update', daily_calories_id=daily_calorie.id) }}">Update</a>
      <br>
      <form action="{{ url_for('daily_calories.delete_daily_calorie', daily_calories_id=daily_calorie.id) }}" method="POST">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
    </div>
  {% endif %}
</div>
{% endblock content %}