{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <p>Keep track of your Calories</p>
  </div>
  <div class="container">
    {% if current_user.id %}
      {% for daily_calorie in daily_calories.items %}
        {% if daily_calorie.user_id == current_user.id %}
          <div class="card">
            <div class="car-boy">
              <h2>
                <a class="card-title" href="{{url_for('daily_calories.daily_calorie', daily_calories_id=daily_calorie.id)}}">{{daily_calorie.notes}}</a>
              </h2>
              <a class="btn btn-primary" href="{{url_for('daily_calories.daily_calorie', daily_calories_id=daily_calorie.id)}}">View Details</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <div>
        <h1>You have No Info Yet</h1>
      </div>
    {% endif %}
</div>

<nav aria-label="Page Navigation ">
  <ul class="pagination justify-content-center bottom-nav">
    {% for page_num in daily_calories.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if daily_calories.page == page_num %}
      <li class="page-item disabled">
        <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

{% endblock %}